@model Utente
@{
    ViewData["Title"] = "Blocca";
}

    <div class="modal-body">

        <div class="form-group">
            <label for="ins-nome">Username</label>
          
        </div>

       
</div>